@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2563EB;
  --color-primary-accent: #38BDF8;
  
  --color-neutral-bg: #F8FAFC;
  --color-neutral-card: #FFFFFF;
  --color-neutral-text: #0F172A;
  --color-neutral-muted: #64748B;
  
  --color-status-success: #22C55E;
  --color-status-error: #EF4444;
}

body {
  @apply bg-neutral-bg text-neutral-text font-sans antialiased;
}
